.landing-wrapper{
    background:linear-gradient(0deg,rgba(54, 4, 4, 0.925),rgba(20, 20, 20, 0.897)),url('../../Assets//Image/Landing.jpg');
    background-size:cover;
    height: calc(100vh - 71px);
}
.welcome-text{
    display:flex;
    justify-content: center;
    padding: 2rem;
}
.welcome-text > h1 {
    color: rgb(201, 185, 185);
    font-family: margarine;
    display: inline;
}