.landing-wrapper{
    background:linear-gradient(0deg,rgba(54, 4, 4, 0.925),rgba(20, 20, 20, 0.897)),url('../../Assets//Image/Landing.jpg');
    background-size:cover;
    height: calc(100vh - 71px);
}
.welcome-text{
    display:flex;
    justify-content: center;
    padding: 2rem;
}
.welcome-text-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.welcome-text {
    color: rgb(110, 108, 108);
    font-family: margarine;
    display: inline;
}
.feature-card-list{
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.feature-card{
    width: 400px;
    background: rgba(53, 34, 34, 0.685);
    padding: 2rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 4px 16px -8px #000;
}
.feature-card:hover{
    box-shadow: 2px 4px 16px -8px red;
}
.feature-card > h3{
    display: inline;
    font-family: Indie Flower;
    color: red;
}
.feature-card > p{
    font-family: Indie Flower;
    color: rgb(219, 114, 114);
}