.transparent-bg{
    background-color: transparent !important;
}

.logo{
    color: red;
    font-family: Lobster;
    font-weight: 600;
    font-size: 30px !important;
}
.logo:hover{
    color: red;
}

.nav-menu{
    color: red;
    font-family: Lobster;
    font-size: 20px !important;
}
.nav-menu:hover{
    color: teal;
}

.active-menu{
    color: teal;
}
  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .my-nav{
        box-shadow: 0px 1px 6px -4px  rgb(245, 50, 1);
    }
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .my-nav{
        box-shadow: 0px 1px 6px -4px  rgb(245, 50, 1);
    }
    .navbar-toggler-icon{
        background: red !important;
        color: red !important;
    }
}