.graphql-wrapper{
    display: flex;
    padding: 0.5rem;
}
.story-title{
    color: #888;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid #333;
}
.story-title:hover {
    color: rgb(179, 174, 174);
    border: 1px solid rgb(219, 214, 214);
}