.editor-wrapper-class {
    background-color: rgba(56, 55, 55, 0.288);
}

.editor-class {
    background-color: rgba(56, 55, 55, 0.288);
}

.editor-toolbar-class {
    background-color: rgba(56, 55, 55, 0.288);
}