.user-wrapper{
}
.fetching{
    color: rgb(245, 111, 1);
    text-align: center;
}

/**
* user list styles
*/
.user-list{
    flex-basis: 25%;
}
.user-list-item{
    padding: 0.5rem;
    border: 1px solid rgb(56, 44, 29);
    border-radius: 0.3rem;
    margin: 0.6em;
    color: rgb(245, 111, 1);
    font-family: Margarine;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap
}
.user-list-item:hover{
    color: rgb(245, 50, 1);
    border: 1px solid rgb(245, 50, 1);
}
.active-list{
    color: rgb(245, 50, 1);
    box-shadow: 4px 4px 18px -6px  rgb(245, 50, 1);
}

/**
* user detail styles
*/
.user-detail{
    flex-basis: 70%;
    height: 500px;
    margin: 0.5rem;
    padding: 1rem;
    /* border: 1px solid rgb(36, 34, 33); */
    display: flex;
    flex-direction: column;
}
.user-detail-header{
    display: flex;
    justify-content: center;
    background: #3b393996;
    width: 100%;
    height: fit-content;
    border-top: 1px solid rgba(245, 50, 1, 0.322);
    padding: 0.5rem;
}
.user-detail-header>h1{
    color: rgb(245, 50, 1);
    display: inline;
    margin: 0;
    font-size: 24px;
    font-family: Lobster;
}
.user-detail-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #3b393996;
    height: fit-content;
    padding: 1rem;
    width: auto;
    margin-top: 10px;
    border-top: 1px solid rgba(245, 50, 1, 0.322);
}
.user-detail-body > p{
    color: rgb(172, 167, 167);
    margin: 0;
    padding: 0.4rem;
    font-size: 16px;
    font-family: Oxygen;
}
.user-detail-body > a{
    color: rgb(18, 147, 187);
    margin: 0;
    padding: 0.4rem;
    font-size: 16px;
    font-family: Oxygen;
}
.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(245, 50, 1, 0.322);
    border-radius: 50%;
    border-top-color: rgba(255, 0, 0, 0.897);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }