.todo-wrapper{
}

.todo-wrapper::-webkit-scrollbar {
    width: 66px;
    background-color: rgb(192, 5, 5);
    overflow-y: scroll;
} 
.todo-form{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.todo-list-group{
    padding: 0.5rem;
}
.todo-list-group::-webkit-scrollbar {
    width: 66px;
    background-color: rgb(192, 5, 5);
    overflow-y: scroll;
} 
.todo-list-group-item{
    padding: 0.9rem;
    margin: 0.5rem 0.3rem;
    width: auto;
    border-left: 2px solid orangered;
    background: rgba(51, 51, 51, 0.13);
    border-radius: 0.5rem;
}
.todo-view{
    display: flex;
    justify-content: space-between;
}
.todo-edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.completed-todo{
    border-left: 2px solid rgb(1, 102, 63);
}
.todo-view-btn-group > button{
    margin: 0.10rem;
}
.todo-edit-btn-group > button{
    margin: 0.10rem;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .todo-form{
        margin: 0 0.5rem;
    }
    .todo-view-btn-group > .btn{
        padding: 0;
        background: none !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
    .todo-edit-btn-group > .btn{
        padding: 0;
        background: none !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .todo-form{
        margin: 0 0.5rem;
    }
    .todo-view-btn-group > .btn{
        padding: 0;
        background: none !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
    .todo-view-btn-group > .yellow{
        padding: 0;
        color: yellow !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
    .todo-view-btn-group > .sky-blue{
        padding: 0;
        color: #075fed !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
    .todo-view-btn-group > .btn-danger{
        padding: 0;
        color: red !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
    .todo-edit-btn-group > .btn{
        padding: 0;
        background: none !important;
        color: red !important;
        display: flex;
        flex-direction: column;
        margin: 0.2rem;
    }
}