.todo-wrapper{
}

.todo-wrapper::-webkit-scrollbar {
    width: 66px;
    background-color: rgb(192, 5, 5);
    overflow-y: scroll;
} 
.todo-list-group{
    padding: 0.5rem;
}
.todo-list-group::-webkit-scrollbar {
    width: 66px;
    background-color: rgb(192, 5, 5);
    overflow-y: scroll;
} 
.todo-list-group-item{
    padding: 0.9rem;
    margin: 0.5rem 0.3rem;
    width: auto;
    border-left: 4px solid orangered;
    background: rgba(51, 51, 51, 0.13);
    border-radius: 0 .5rem 0.5rem 0.5rem 0;
}
.todo-view{
    display: flex;
    justify-content: space-between;
}
.todo-edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.completed-todo{
    border-left: 4px solid rgb(1, 102, 63);
}