.story-wrapper {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

.story-list {
    width: 100%;
}

.story-detail-wrapper {
    /* flex-basis: 70%; */
    border: 1px solid #aaa;
    padding: 1rem;
}

.story-header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.3rem 2rem;
}

.story-detail-header {
    margin: 0.5rem 2rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(7, 7, 7);
}

.single-story {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid #333;
    margin: 0.3rem 0;
}

.single-story>i {
    font-size: 3rem;
    color: #555;
    margin-right: 2rem;
}

.story-title {
    color: #888;
    font-size: 1.2rem;
    margin: 0;
}

.story-time {
    color: #444;
    margin: 0;
}

.story-title:hover {
    color: rgb(179, 174, 174);
}

.single-story:hover {
    border: 1px solid rgb(219, 214, 214);
}

.story-detail-heading {
    background: rgb(7, 7, 7);
    color: #aaa;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
}

.story-detail-heading>h3 {
    color: #aaa;
}

.author {
    color: #444;
}

.article-body {
    background: rgb(7, 7, 7);
    margin: 0.3rem 0;
    padding: 0.3rem 2rem;
    min-height: 300px;
}

.article-body>p {
    color: #666;
    font-family: Oxygen;
    font-size: 1.2rem;
}

.article-body>h1,
h2,
h3,
h4,
h5,
h6 {
    color: #999;
    font-family: Oxygen;
}

.inside-author {
    color: rgb(170, 68, 68) !important;
    margin: 0.1rem !important;
    font-size: 0.8rem !important;
    font-family: Cantarell !important;
}

.article-body>code {
    background-color: rgba(245, 146, 163, 0.788) !important;
    color: #333 !important;
}

.story-action-wrapper {}

.story-action-wrapper>i {}

.story-action-wrapper>i:hover {
    color: red;
}