.movie-wrapper{

}
.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-card{
    width: calc(16.6666% - 0.6rem);
    border: 1px solid rgb(107, 103, 103);
    margin: 0.3rem;
    padding: 0.5rem;
}
.movie-card > p{
    color: #ccc;
    font-size: 22px;
    font-weight: 500;
    font-family: ZCOOL XiaoWei;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0.2rem 0.4rem;
}
.animated-clickable-div{
    cursor: pointer;
}
.movie-poster{
    width: 100%;
}
.movie-description{
    width: 100%;
    height: 260px;
    color: #888;
    overflow: hidden;
}
.stats-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.movie-stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.stats-column > i {
    color: rgb(245, 33, 26);
    margin-right: 0.2rem;
}
.stats-column > span {
    color: rgb(173, 151, 151);
    font-size: 0.7rem;
}
.movie-header{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-tags{
    /* border: 1px solid palevioletred; */
}
.tag{
    cursor: pointer;
    color: #888;
    background: rgba(248, 4, 4, 0.184);
    font-family: Oxygen;
    margin: 0.2rem 0.2rem;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}
.tag:hover{
    color: #ccc;
    background: rgba(248, 4, 4, 0.444);
}
.active-tag{
    color: #fff;
    background: rgba(248, 4, 4, 0.644);
}