.App{
    background: #0f0f0f;
    min-height: 100vh;
}
body{
    overflow: auto;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0f0f0f;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(190, 4, 4);
  outline: 1px solid rgb(8, 64, 121);
  border-radius: 2px;
}
.flex-container{
    display: flex;
}
.col{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.center-align-row{
    justify-content: center;
}
.center-align-col{
    align-items: center;
}
.dark-input{
    background: rgba(56, 55, 55, 0.188) !important;
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
    color: #aaa;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698838-icon-111-search-128.png');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:30px;
}

.dark-input:hover{
    background: rgba(56, 55, 55, 0.288) !important;
}
.dark-input:focus{
    background: rgba(56, 55, 55, 0.488) !important;
}
.btn{
    font-family: Margarine !important;
    border: none !important;
}
.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

.red{
    background-color: red !important;
}
.sky-blue{
    background-color: #075fed !important;
}
.purple{
    background-color: #6a07ed !important;
}
.yellow{
    background-color: #eef913 !important;
}