.App{
    background: #0f0f0f;
    min-height: 100vh;
}
.flex-container{
    display: flex;
}
.col{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.center-align-row{
    justify-content: center;
}
.center-align-col{
    align-items: center;
}
.dark-input{
    background: rgba(56, 55, 55, 0.188) !important;
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
    color: #aaa;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698838-icon-111-search-128.png');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left:30px;
}

.dark-input:hover{
    background: rgba(56, 55, 55, 0.288) !important;
}
.dark-input:focus{
    background: rgba(56, 55, 55, 0.488) !important;
}
.btn{
    font-family: Margarine !important;
}