.flex-container{
    display: flex;
}
.col{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.center-align-row{
    justify-content: center;
}
.center-align-col{
    align-items: center;
}