.story-wrapper{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.story-list{
    flex-basis: 25%;
}
.story-detail-wrapper{
    flex-basis: 70%;
    border: 1px solid #aaa;
    padding: 1rem;
}
.story-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.story-title{
    color: #888;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid #333;
}
.story-title:hover {
    color: rgb(179, 174, 174);
    border: 1px solid rgb(219, 214, 214);
}
.story-detail-header{
    color: #aaa;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}