.story-wrapper{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between
}
.story-list{
    flex-basis: 25%;
}
.story-detail{
    flex-basis: 75%;
}
.story-title{
    color: #888;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid #333;
}
.story-title:hover {
    color: rgb(179, 174, 174);
    border: 1px solid rgb(219, 214, 214);
}